@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "izitoast/dist/css/iziToast.min.css";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@tailwind base;
@tailwind components;
@tailwind utilities;



.menu-link {
    @apply flex items-center gap-3 px-4 py-2 rounded-lg text-slate-600 hover:bg-indigo-50 hover:text-indigo-600 transition;
}

.stat-card {
    @apply bg-white rounded-xl shadow p-5 hover:shadow-lg transition;
}

.stat-title {
    @apply text-slate-500 text-sm;
}

.stat-value {
    @apply text-3xl font-bold mt-2;
}

.badge-green {
    @apply bg-green-100 text-green-700 px-3 py-1 rounded-full text-sm;
}
.mybtn-primary{
    @apply px-4 py-2 text-white rounded bg-blue-500 hover:bg-blue-700
}
@layer components {

    .input-premium {
        @apply w-full rounded-xl border border-slate-200 px-4 py-3 text-slate-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 transition;
    }

    .label-premium {
        @apply block text-sm font-medium text-slate-600 mb-1;
    }

    .btn-primary {
        @apply bg-indigo-600 text-white py-3 rounded-xl font-semibold shadow-lg hover:bg-indigo-700 hover:shadow-xl transition;
    }
}